*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.page-container {
    width: 100%;
    max-width: 80em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    display: flex;
    position: relative;
    right: 220px;
    top: 10px;
    width: 150%;
    padding: 5px;
    margin-bottom: 15px;
}

.nav-1 {
    width: 25%;
    margin: 10px;
    padding: 10px;
    margin-left: 50px;
}

.nav-2 {
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.nav-2 a{
    text-decoration: none;
    margin: 20px;
    font-size: large;
    color: rgba(0, 0, 0, 0.597);
}

.nav-3 {
    width: 26%;
    text-align: end;
    border: none;
}

.nav-3 button{
    padding: 10px;
    margin: 10px;
    border-radius: 21px;
    background-color: #0e222d;
    color: white;
    cursor: pointer;
    width: 130px;
    margin-right: 50px;
    border: none;
}

.section-1 {
    display: flex;
    width: 100%;
}

.content {
    width: 50%;
    padding: 70px;
}

.content-large {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.909);
}

.rayita{
    font-size: inherit;
    display: inline-flex;
    position: relative;
}

.rayita::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -70%;
    background: url('./../img/per.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(-1deg);
}

.content-p {
    padding: 20px 0px;
    line-height: 30px;
}

.content-bar {
    width: 100%;
    position: relative;
}

.content-input {
    width: 80%;
    padding: 13px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    background-color: #E1ECEE;
    position: relative;
}

.content-button {
    padding: 13px;
    border-radius: 20px 20px 20px 20px;
    right: 20px;
    border: none;
    color: white;
    background-color: #0e222d;
    position: relative;
}

.content-info {
    width: 100%;
    display: flex;
    margin-top: 70px;
}

.info-1 {
    color: #1C4A59;
    line-height: 30px;
}

.info-1 span{
    font-size:25px;
}
.info-1 p{
    font-size:10px;
}

.rayita-invertida {
    display: flex;
    position: relative;
    left: 1px;
}

.rayita-invertida {
    display: flex;
    position: relative;
    height: auto;
}

.rayita-invertida img {
    display: flex;
    position: relative;
    left: 10px;
    height: 50px;
    opacity: 0.1;
}

.info-2 {
    color: #1C4A59;
    margin-left: 30px;
    line-height: 30px;
}

.info-2 span{
    font-size:25px;
}
.info-2 p{
    font-size:10px;
}

.image-1 {
    width: 50%;
    height: 400px;
    margin-top: 5.3%;
    border-radius: 40px;
    display: flex;
    transform: skew(-15deg) rotate(-15deg);
}

.image-1 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.image-1 .border{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 40px;
    left: 8.5%;
    bottom: 8.5%;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-top: 30px;
    margin-left: 50px;
}

.img-list {
    width: 15%;
}

.img-list img{
    height: 50px;
    width: 150px;
    margin-left: 50px;
}

.title-1 {
    width: 100%;
    padding: 20px;
    margin-left: 10px;
}

.content-title-1 {
    margin-left: 43px;
    font-size: large;
}

.text-1-title-1 {
    width: 260px;
    line-height: 30px;
    margin-top: 10px;
    font-size: x-large;
}

.text-1-title-1 span{
    font-size: inherit;
    display: inline-flex;
    position: relative;
}

.text-1-title-1 span::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -70%;
    background: url('./../img/per.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(-1deg);
}

.box {
    width: 100%;
    display: flex;
}

.box-1 {
    width: 43%;
    height: auto;
    margin: 2%;
    margin-left: 70px;
    background-color: rgba(245,249,250,255);
    border-radius: 20px;
}

.section-1-box-1 {
    width: 96%;
    margin: 0 20px ;
    margin: 2%;
}

.section-img img {
    width: 100%;
    height: 230px;
    border-radius: 10px;
}

.section-2-box-1 {
    width: 96%;
    margin: 0 20px ;
    margin: 2%;
    line-height: 40px;
}

.section-3-box-1 {
    width: 96%;
    margin: 0 20px ;
    margin: 2%;
    font-size: 16px;
    line-height: 30px
}

.box-2 {
    width: 43%;
    margin: 2%;
}

.box-2-container {
    display: flex;
}

.box-2-button-1 {
    display: flex;
    width: 96.5%;
    background-color:#F5F9FA;
    margin: 10px;
    border-radius: 10px;
    padding: 30px;
    justify-content: space-between;
}

.box-2-icon-1 {
    background-color: #E1ECEE;
    padding: 10px;
    border-radius: 100%;
    color: #1A4A58;
    position: relative;
}

.box-2-p-1 {
    margin-top: 10px;
    margin-left: 10px
}

.box-2-icon-2 {
    background-color: #1A4A58;
    width: auto;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
    height: 35px;
}

.box-2-icon-2 img {
    color: white;
}

.box-2-button-2 {
    display: flex;
    width: 96.5%;
    background-color: #F5F9FA;
    margin: 10px;
    border-radius: 10px;
    padding: 30px;
    justify-content: space-between;
}

.box-2-icon-3 {
position: relative;
    background-color: #E1ECEE;
    height: 40px;
    padding: 10px;
    border-radius: 100%;
    color: #1A4A58;
}

.box-2-icon-3 img {
    height: 20px;
}

.box-2-p-2 {
    margin-top: 10px;
    margin-left: 10px;
}

.box-2-icon-4 {
    position: relative;
    background-color: #1A4A58;
    height: 35px;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.box-2-icon-4 img {
    color: white;

}

.box-3 {
    width: 96.3.4%;
    height: 46%;
    background-color: #1B4B59;
    margin: 10px;
    border-radius: 10px;
}

.box-3-container-1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.box-3-icon-1 {
    background-color: #F57140;
    border-radius: 100%;
    margin: 10px;
    width: 35px;
    height: 35px;
}

.box-3-icon-1 i {
    color: white;
    margin-top: 10px;
    margin-left: 11px;
}

.box-3-icon-2 {
    background-color: transparent;
    border: solid 0.5px white;
    border-radius: 100%;
    margin: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.box-3-icon-2 img {
    display: flex;
    position: relative;
    left: 4px;
    top: 5px;
}

.box-3-title {
    color: white;
    margin-left: 23px;
    max-width: 100%;
}

.box-3-p {
    color: rgba(255, 255, 255, 0.67);
    margin-left: 13px;
    margin-top: 5px;
    max-width: 91%;
    padding: 10px;
    line-height: 25px;
}

.section-2 {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    margin-top: 30px;
}

.section-2-img {
    position: relative;
    width: 50%;
    border-radius: 40px;
    display: flex;
    position: relative;
    top: 10px;
}


.section-2-img img {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 50px;
    transform: skew(-15deg) rotate(-15deg);
    top: 20px;
    padding: 20px;
    right: 40px;
}

.section-2-img .border{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    right: 2.5%;
    top: 8.5%;
    transform: skew(-15deg) rotate(-15deg);
    top: 130px;
    right: 205px
}

.box-img {
    background-color: white;
    position: absolute;
    width: 47%;
    height: 160px;
    bottom: 140px;
    right: 10px;
    top: 330px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.25);
}

.box-img-icon {
    background: #e1ecf0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    left: 0;
}

.box-img-icon i{
    margin-top: 10px;
    margin-left: 8.5px;
    color: rgba(112,145,154,255);
    font-size: 12px;
}

.box-img-content {
    line-height: 27px;
    position: relative;
    top: 20px;
    font-size: 20px;
    color: black ;
}

.box-img-link {
    position: relative;
    top: 30px;
    color: #f4713f;
    cursor: pointer;
}

.section-2-container-1 {
    width: 60%;
    padding: 10px;
}

.section-2-title {
    width: 350px;
    margin: 10px;
    font-size: 25px;
    line-height: 40px;
}

.section-2-content {
    margin: 10px;
    font-size: 16px;
    line-height: 25px;
    color: #0000007e;
}

.section-2-list {
    display: flex;
    margin: 10px;
}

.section-2-number {
    background-color: #E1ECEE;
    display: flex;
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1A4A58;
}

.section-2-p {
    display: flex;
    position: relative;
    width: auto;
    justify-content: center;
    left: 12px;
    top: 6px;
}

.section-2-box-button {
    display: flex;
    position: relative;
    margin: 10px;
    top: 20px;
    width: 150px;
    height: auto;
}

.section-2-button {
    background-color: #0e222d;
    display: flex;
    position: relative;
    width: 110px;
    justify-content: center;
    padding: 12px;
    border-radius: 20px;
    border: none;
    color: white;
}

.section-4 {
    display: flex;
    position: relative;
    top: 90px;
    width: 100%;
    height: auto;
    margin: 10px;
}

.section-4-title {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.section-4-p-2 {
    display: flex;
    position: relative;
    opacity: 0.3;
    font-size: 11px;
    line-height: 50px;
    justify-content: center;
}

.section-5 {
    display: flex;
    width: 100%;
    position: relative;
    top: 100px;
}

.form {
    width: 40%;
}

.form-box {
    position: relative;;
    width: 90%;
    height: 370px;
    margin: 15px;
    border-radius: 10px;
    left: 10px;
    background-color: #F5F9FA;
}

.form-content {
    position: relative;
    left: 30px;
    top: 30px;
    right: 30px;
    bottom: 30px;
}

.form-content-p1 {
    line-height: 30px;
    opacity: 0.3;
}

.form-content-p2 {
    line-height: 30px;
    opacity: 0.3;
    font-size: 14px;
}

.select-1 {
    display: flex;
    position: relative;
    top: 5px;
    padding: 12px;
    width: 87%;
    border-radius: 8px;
}

.form-content-p3 {
    position: relative;
    line-height: 30px;
    opacity: 0.3;
    font-size: 14px;
    top: 3px;
    top: 10px;
}

.select-2 {
    position: relative;
    padding: 12px;
    width: 87%;
    border-radius: 8px;
    top: 10px;
}

.form-content-p4 {
    position: relative;
    line-height: 30px;
    opacity: 0.3;
    font-size: 14px;
    top: 3px;
    top: 15px;
}

.form-input {
    position: relative;
    padding: 10px;
    width: 87%;
    border-radius: 10px;
    border: none;
    top: 10px;
}

.form-button {
    position: relative;
    top: 30px;
    padding: 10px;
    width: 110px;
    border-radius: 20px;
    border: none;
    color: #E1ECEE;
    background-color: #0e222d;
}


.graphic {
    width: 60%;
    background-color: #e1ecf0;
    background-image: url(../img/graphic.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.section-6 {
    width: 100%;
    display: flex;
    position: relative;
    top: 150px;
    margin: 20px;
}

.section-6-title {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 25px;
    padding: 10px;
}

.section-7 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 170px;
}

.cards-section-7 {
    margin: 10px;
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 18px 2px rgba(0,0,0,0.25);
}

.cards-section-7:hover {
    background-color: #1b4b59;
    transition: 1s;
    color: white;
}

.icon-cards img{
    position: relative;
    top: 40px;
    width: 10px;
    height: 10px;
}

.info-cards {
    position: relative;
    margin: 10px;
    top: 20px;
}

.section-7 hr {
    position: relative;
    top: 40px;
}

.data {
    position: relative;
    display: flex;
    width: 260px;
    padding: 10px;
    top: 50px;
}

.data-img img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.data-text {
    position: relative;
    width: auto;
    left: 10px;
    line-height: 22px;
}

.data-profession-text {
    font-size: 12px;
    color: rgba(72,107,121,255);
}

.footer {
    width: 100%;
    height: 300px;
    position: relative;
    top: 200px;
    left: 0;
    background-color: #0e222d;
}

.container-footer-1 {
    display: flex;
}

.content-footer-1 {
    width: 30%;
    margin: 30px;
    line-height: 40px;
}

.content-footer-1-title {
    color: #E1ECEE;
    font-size: 20px;
    line-height: 15px;
}

.content-footer-1-p {
    position: relative;
    top: 25px;
    color: #E1ECEE;
    font-size: 20px;
    width: 200px;
}

.content-footer-1-p span {  
    font-size: inherit;
    display: inline-flex;
    position: relative;
}

.content-footer-1-p span::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -70%;
    background: url('./../img/per.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    transform: rotate(-1deg);
}

.container-footer-1 .content-input {
    position: relative;
    top: 40px;
    width: 200px;
    background-color: #163240;
}

.container-footer-1 .content-button {
    position: relative;
    top: 40px;
    width: 90px;
    background-color: #051721;
}

.content-footer-2 {
    display: flex;
    width: 70%;
}

.list-footer {
    margin: 20px;
    line-height: 33px;
    color: #E1ECEE;
}

.linea-footer {
    position: relative;
    top:40px;
    width: 96%;
    position: relative;
    left: 2.4%;
    border: solid 1px rgba(255, 255, 255, 0.15);
}

.content-footer-3 {
    display: flex;
    justify-content: space-between;
}

.content-footer-3-list {
    display: flex;
    padding: 10px;
    position: relative;
    left: 10px;
    top: 40px;
    color: #E1ECEE;
}

.content-footer-3-list p {
    margin: 10px;
}

.copyright {
    position: relative;
    margin: 10px;
    padding: 10px;
    top: 40px;
    color: #E1ECEE;
}